*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #fff;
  color: #434455;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;

  align-items: center;
  padding: 24px 0;
}
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-span {
  color: #4d5ae5;
}

.page-nav {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.page-nav .link {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.contact {
  display: flex;
  gap: 40px;
}
.contact .link {
  font-style: normal;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus,
.page-nav .link:hover,
.page-nav .link:focus,
.logo:hover,
.logo:focus {
  color: #404bbf;
}
.main-page-button:hover,
.main-page-button:focus {
  background-color: #404bbf;
}

.main-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 600px;
}
.main-page {
  background-color: #2e2f42;
}
.main-page-text {
  font-weight: 700;
  font-size: 56px;
  color: #fff;

  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
}
.main-page-button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  text-align: center;

  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* hidden h2 in  section features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-items {
  display: flex;
  gap: 24px;
  width: calc((100%-72px) / 4);
  margin-top: 120px;
}

.features-items-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-describe {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 120px;
}
.team {
  background-color: #f4f4fd;
}
.team-items {
  display: flex;
  gap: 24px;
}

.team-link {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;

  margin-top: 120px;
}
.team-items-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-items-title-describe {
  color: #434455;
  text-align: center;
  letter-spacing: 0.02em;
}
.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  letter-spacing: 0.02em;
}
.portfolio-items-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-items-describe {
  color: #434455;
  letter-spacing: 0.02em;
}

.footer-description {
  color: #f4f4fd;
}
.page-footer {
  background-color: #2e2f42;
}

.logo-white {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
